<%= form_for @recipe do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %></p>
  <p>Ingredients:</p>
  <%= f.fields_for :ingredients do |ingr| %>
  <p><%= ingr.label :name %>
  <%= ingr.text_field :name %></p>
  <p><%= ingr.label :quantity %>
  <%= ingr.text_field :quantity %></p>
  <% end %>
  <%= f.submit %>
<% end %>
